In [1]:
import pymongo
from sklearn import datasets

In [2]:
myClient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myClient["doenca"]
myCol = mydb["diabete"]

In [7]:
import openml
dataset = openml.datasets.get_dataset(37)

In [8]:
type(dataset)

openml.datasets.dataset.OpenMLDataset

In [13]:
print(dataset)

OpenML Dataset
==============
Name..........: diabetes
Version.......: 1
Format........: ARFF
Upload Date...: 2014-04-06 23:22:13
Licence.......: Public
Download URL..: https://www.openml.org/data/v1/download/37/diabetes.arff
OpenML URL....: https://www.openml.org/d/37
# of features.: 9
# of instances: 768

In [58]:
print(dataset.get_data(dataset_format="dataframe", target=dataset.default_target_attribute))

(     preg  plas  pres  skin   insu  mass   pedi  age
0       6   148    72    35    0.0  33.6  0.627   50
1       1    85    66    29    0.0  26.6  0.351   31
2       8   183    64     0    0.0  23.3  0.672   32
3       1    89    66    23   94.0  28.1  0.167   21
4       0   137    40    35  168.0  43.1  2.288   33
..    ...   ...   ...   ...    ...   ...    ...  ...
763    10   101    76    48  180.0  32.9  0.171   63
764     2   122    70    27    0.0  36.8  0.340   27
765     5   121    72    23  112.0  26.2  0.245   30
766     1   126    60     0    0.0  30.1  0.349   47
767     1    93    70    31    0.0  30.4  0.315   23

[768 rows x 8 columns], 0      tested_positive
1      tested_negative
2      tested_positive
3      tested_negative
4      tested_positive
            ...
763    tested_negative
764    tested_negative
765    tested_negative
766    tested_positive
767    tested_negative
Name: class, Length: 768, dtype: category
Categories (2, object): ['tested_negative' < 'tested_positive'], [False, False, False, False, False, False, False, False], ['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age'])

In [60]:
info = dataset.get_data(dataset_format="dataframe", target=dataset.default_target_attribute)

In [68]:
info[0]

     preg  plas  pres  skin   insu  mass   pedi  age
0       6   148    72    35    0.0  33.6  0.627   50
1       1    85    66    29    0.0  26.6  0.351   31
2       8   183    64     0    0.0  23.3  0.672   32
3       1    89    66    23   94.0  28.1  0.167   21
4       0   137    40    35  168.0  43.1  2.288   33
..    ...   ...   ...   ...    ...   ...    ...  ...
763    10   101    76    48  180.0  32.9  0.171   63
764     2   122    70    27    0.0  36.8  0.340   27
765     5   121    72    23  112.0  26.2  0.245   30
766     1   126    60     0    0.0  30.1  0.349   47
767     1    93    70    31    0.0  30.4  0.315   23

[768 rows x 8 columns]

In [71]:
info[0]['preg'][0]

6

In [72]:
info[1][0]

'tested_positive'